
/* FOOTER....................... */
.footer {
  background-color: #4e5160;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
}

.footer-logo {
  max-width: 280px;
}

.footer-logo img {
  width: 50%;
  display: block;
}

.footer-logo p {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: left;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  /* flex: 1; */
  margin-left: 2rem;
}

.footer-column {
  margin-right: 6rem;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.5rem;
}

.footer-column a {
  color: rgb(238, 238, 238);
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-social a {
  margin-bottom: 0.5rem;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

