/* Navbar container */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 96%;
  z-index: 1000;
}

/* Navbar logo section */
.navbar-logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.navbar-logo img {
  height: 50px;
  margin-right: 0.5rem;
}


/* Navbar links */
.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-links .login-link {
  margin-left: 5rem;
  font-weight: 500;
}

.navbar-links li {
  margin-left: 3.3rem;
}


.navbar-links a.start-free {
  color: white;
  font-size: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
}


.signup-button {
  background-color: #6374CB;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 1.5rem;
  outline: none;
  border: none;
  font-size: 16px;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}