<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ Section</title>
    <link rel="stylesheet" href="/static/faq.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/footer.css" />

  </head>
  <body>
    <div class="faq-container">
      <nav class="navbar">
        <div class="navbar-logo">
          <img src="/static/assets/logo1.png" alt="Task Buddy Logo" />
        </div>
        <ul class="navbar-links">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/features">Features</a>
          </li>
          <li>
            <a href="/faq">FAQs</a>
          </li>
          <li class="login-link">
            <a href="/signin">Login</a>
          </li>
          <button type="submit" class="signup-button">
            <a href="/signup">Start for free</a>
          </button>
        </ul>
      </nav>

      <header class="faq-header text-black">
        <h1>Ask us anything</h1>
        <p>
          Need something cleared up? Here are our most frequently asked
          questions.
        </p>
        <input type="text" placeholder="Search" />
      </header>

      <div class="faq-grid">
        <div class="faq-item">
          <span class="faq-icon" role="img" aria-label="heart">❤️</span>
          <h2> How do I use Lekhak Sathi to convert handwritten text into digital form?</h2>
          <p>
            Navigate to the Upload section of our website then click on the 'Upload File' button and select the image of your handwritten document. <br>
            Once the image is uploaded, click on 'Convert' to start the OCR process. <br>
            After the conversion is complete, you can view the text in the output box. You will also have the option to download it as a .docx file by clicking on the 'Download' button.
          </p>
        </div>
        <div class="faq-item">
          <span class="faq-icon" role="img" aria-label="arrows">🔄</span>
          <h2>What types of files can I upload for conversion?</h2>
          <p>
            Lekhak Sathi supports various image file formats including JPG and PNG.
             Make sure your file is clear and the handwriting is legible to ensure the best accuracy in conversion.
          </p>
        </div>
        <div class="faq-item">
          <span class="faq-icon" role="img" aria-label="cross">❌</span>
          <h2>What is your cancellation policy?</h2>
          <p>
            We understand that things change. You can cancel your plan at any
            time and we'll refund you the difference already paid.
          </p>
        </div>
        <div class="faq-item">
          <span class="faq-icon" role="img" aria-label="clipboard">📋</span>
          <h2>How accurate is the text conversion?</h2>
          <p>
            The accuracy of text conversion largely depends on the clarity and quality of the handwritten document uploaded. 
            Our OCR technology is tailored for Nepali scripts and has been trained with diverse handwriting samples to handle variations in style. 
            However, complex or extremely cursive handwriting might affect the accuracy. 
            We continuously work on improving our OCR technology to handle a wider range of handwriting styles.
          </p>
        </div>
        <div class="faq-item">
          <span class="faq-icon" role="img" aria-label="briefcase">💼</span>
          <h2> Can I convert documents in other languages besides Nepali?</h2>
          <p>
            Currently, Lekhak Sathi specializes in the Nepali language. We are planning to expand our services to include other scripts in the future. 
            Keep an eye on our updates for more information.
          </p>
        </div>
        <div class="faq-item">
          <span class="faq-icon" role="img" aria-label="envelope">📧</span>
          <h2>What should I do if the converted text contains errors?</h2>
          <p>
            While we strive for high accuracy in text conversion, some errors may occur, especially with challenging handwriting styles.
             If you notice errors in the converted text then you can manually correct them in the output box before downloading the document.
          </p>
        </div>
      </div>

      <section class="still-ques text-black">
        <div>
          <p>Still have questions?</p>
          <p>
            Can't find the answer you're looking for? Please chat to our
            friendly team.
          </p>
        </div>
        <button>Get in touch</button>
      </section>

      <section class="about-section">
        <div class="about-content">
          <h2>Get to know us</h2>
          <h1>We're just getting started</h1>
          <p>
            Untitled is growing fast, and we are always looking for passionate,
            dynamic, and talented individuals to join our distributed team all
            around the world.
          </p>
          <p>
            Our philosophy is simple — hire a team of diverse, passionate people
            and foster a culture that empowers you to do your best work. Read
            more about
          </p>
          <div class="about-buttons">
            <button class="btn-primary">Read our principles</button>
            <button class="btn-secondary">We're hiring!</button>
          </div>
        </div>
        <div class="about-images">
          <img
            src="static/assets/team5.png"
            alt="Team member 1"
            class="square first-image"
          />
          <img
            src="static/assets/faq2.png"
            alt="Team member 2"
            class="tall second-image"
          />
          <img
            src="static/assets/team3.jpg"
            alt="Team member 3"
            class="square third-image"
          />
          <img
            src="static/assets/team4.jpg"
            alt="Team member 4"
            class="tall fourth-image"
          />
          <img
            src="static/assets/team1.jpg"
            alt="Team member 5"
            class="square fifth-image"
          />
        </div>
      </section>

      <section class="newsletter-section">
        <h2>Sign up for our newsletter</h2>
        <p>
          Be the first to know about releases and industry news and insights.
        </p>
        <form class="newsletter-form">
          <input type="email" placeholder="Enter your email" required />
          <button type="submit">Subscribe</button>
        </form>
        <p class="privacy-text">
          We care about your data in our <a href="#">privacy policy</a>.
        </p>
      </section>

      <footer class="footer">
        <div class="footer-content">
          <div class="footer-logo">
            <img src="/static/assets/logos.png" alt="Task Buddy Logo" />
            <p>
              Join millions of people who organize work and life with Lekhak Sathi
            </p>
          </div>
          <div class="footer-links">
            <div class="footer-column">
              <h4>Features</h4>
              <ul>
                <li><a href="#how-it-works">How it works</a></li>
                <li><a href="#for-teams">For Teams</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#templates">Templates</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>Resources</h4>
              <ul>
                <li><a href="#how-it-works">Help Center</a></li>
                <li><a href="#for-teams">For Teams</a></li>
                <li><a href="#pricing">Productivity Method</a></li>
                <li><a href="#templates">Integration</a></li>
                <li><a href="#templates">Status</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>Company</h4>
              <ul>
                <li><a href="#for-teams">Inspiration Hub</a></li>
                <li><a href="#pricing">Blog</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-social">
            <a href="#instagram"
            ><img src="/static/assets/facebook.png" alt="Instagram"
            /></a>
            <a href="#instagram"
              ><img src="/static/assets/instagram.png" alt="Instagram"
            /></a>
            <a href="#google"><img src="/static/assets/google.png" alt="Google" /></a>
            <a href="#twitter"><img src="/static/assets/twitter.png" alt="Twitter" /></a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
