<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Buddy</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/footer.css" />

  </head>
  <body>
    <div class="home-section">
      <nav class="navbar">
        <div class="navbar-logo">
          <img src="/static/assets/logo1.png" alt="Task Buddy Logo" />
        </div>
        <ul class="navbar-links">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="/features">Features</a>
          </li>
          <li>
            <a href="/faq">FAQs</a>
          </li>
          <li class="login-link">
            <a href="/signin">Login</a>
          </li>
          <button type="submit" class="signup-button">
            <a class="start-free" href="/signup">Start for free</a>
          </button>
        </ul>
      </nav>

      <div class="home-top-section">
        <div class="left-content">
          <div class="overlay-content">
            <p class="headline">
              Simplify your life and task together, your personal productivity
              Hub
            </p>
            <p class="sub-text">
              Say goodbye to scattered notes and forgotten tasks by centralizing
              your workflow.
            </p>
            <input type="text" placeholder="Email" />
            <button class="signup-btn">Signup - it's free</button>
          </div>
        </div>
        <img
          src="/static/assets/for_thesis web.png"
          alt="home_img"
          class="right-image"
        />
      </div>
    </div>

    <section class="middle-section">
        <div class="feature-item">
          <img src="/static/assets/convert.jpg" alt="Handwriting to Text Converter">
          <h3>Handwriting to Text <br> Converter</h3>
          <p>Convert scanned handwritten image to text, PDF to Word, with our online OCR tool.</p>
          <a href="/upload" class="cta-button">Learn More</a>
        </div>
        <div class="feature-item">
          <img src="/static/assets/search.png" alt="Searchable PDF Maker">
          <h3>Searchable PDF <br> Maker</h3>
          <p>Convert scanned handwritten notes to PDF, an image to a searchable PDF with OCR online.</p>
          <a href="#" class="cta-button">Learn More</a>
        </div>
        <div class="feature-item">
          <img src="/static/assets/processor.png" alt="Handwritten Form Processor">
          <h3>Handwritten Form <br> Processor</h3>
          <p>Extract data from hand-filled forms with OCR online into Word or Excel.</p>
          <a href="#" class="cta-button">Learn More</a>
        </div>
      </section>


    <section class="writing-section">
        <h2>No Matter What You're Writing,</h2>
        <div class="writing-items">
          <div class="writing-item first">
            <img src="/static/assets/teacher_notes.jpeg" alt="Teacher's Notes">
            <p>Teacher's <br> Notes</p>
            
          </div>
          <div class="writing-item second">
            <img src="/static/assets/class_notes.jpeg" alt="Class Notes">
            <p>Class <br> Notes</p>
          </div>
          <div class="writing-item third">
            <img src="/static/assets/creative_writing.png" alt="Creative Writing">
            <p>Creative <br> Writing</p>
          </div>
          <div class="writing-item fourth">
            <img src="/static/assets/meeting.png" alt="Meeting Minutes">
            <p>Meeting <br> Minutes</p>
          </div>
          <div class="writing-item fifth">
            <img src="/static/assets/journal_diaries.jpg" alt="Journals & Diaries">
            <p>Journals & <br> Diaries</p>
          </div>
          <div class="writing-item sixth">
            <img src="/static/assets/form.jpg" alt="Forms & Surveys">
            <p>Forms & <br> Surveys</p>
          </div>
        </div>
      </section>

      <section class="how-it-works">
        <h2>How it works?</h2>
        <div class="steps-container">
            <div class="step">
              <img src="/static/assets/upload_icon.png" alt="Upload Icon" class="step-icon">
              <h3>STEP 1</h3>
              <h4>Upload your file</h4>
              <p>Select or drop the files using the 'Upload File' button. It can be a scanned/non-scanned image or a PDF file. 
                Once uploaded the software would take a few seconds to process the file. After getting processed, 
                move forward to the next step.
              </p>
            </div>
            <div class="step">
              <img src="/static/assets/edit_icon.png" alt="Edit and review Icon" class="step-icon">
              <h3>STEP 2</h3>
              <h4>Edit & Review</h4>
              <p>Once the document is processed, the software would take you to the review screen. In the review screen, 
                you can see the extracted text at the left panel of your screen. If you find an issue with the extracted data, 
                you can correct and fix it right there.
              </p>
            </div>
            <div class="step">
              <img src="/static/assets/download_icon.png" alt="Convert Icon" class="step-icon">
              <h3>STEP 3</h3>
              <h4>Convert & Download</h4>
              <p>Sit back and watch as Docsumo swiftly extracts the data you need. Download the data in JSON/Excel/CSV/TXT format. 
                No more headache-inducing manual data entry!
              </p>
            </div>
        </div>
    </section>

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="/static/assets/logos.png" alt="Task Buddy Logo" />
          <p>
            Join millions of people who organize work and life with Lekhak Sathi
        </div>
        <div class="footer-links">
          <div class="footer-column">
            <h4>Features</h4>
            <ul>
              <li><a href="#how-it-works">How it works</a></li>
              <li><a href="#for-teams">For Teams</a></li>
              <li><a href="#pricing">Pricing</a></li>
              <li><a href="#templates">Templates</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Resources</h4>
            <ul>
              <li><a href="#how-it-works">Help Center</a></li>
              <li><a href="#for-teams">For Teams</a></li>
              <li><a href="#pricing">Productivity Method</a></li>
              <li><a href="#templates">Integration</a></li>
              <li><a href="#templates">Status</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Company</h4>
            <ul>
              <li><a href="#for-teams">Inspiration Hub</a></li>
              <li><a href="#pricing">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-social">
          <a href="#instagram"
          ><img src="/static/assets/facebook.png" alt="Instagram"
          /></a>
          <a href="#instagram"
            ><img src="/static/assets/instagram.png" alt="Instagram"
          /></a>
          <a href="#google"><img src="/static/assets/google.png" alt="Google" /></a>
          <a href="#twitter"><img src="/static/assets/twitter.png" alt="Twitter" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
